
body {
  background-color: #F0EBE3;
  font-family: 'Cormorant Garamond', serif;
}

.brand-img {
  text-align: center;
}

.brand-img img {
  width: 300px;
  height: auto;
}

nav ul {
  padding: 5px 20px;
  list-style: none;
  height: auto;
  position: fixed;
  left: 0%;
  margin-left: -3px;
  
}

nav ul li {
  padding: 5px 0px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 26px;
}

nav ul li a:hover {
  opacity: 0.5;
}


.intro-text {
  display: flex;
  justify-content: center;
  margin: 0px 100px;
  position: relative;
  top: 85px;
  font-size: 20px;
}

.intro-image {
  display: block;
  text-align: center;
  position: relative;
  top: 60px;
  padding-bottom: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

.intro-image img {
  height: 350px;
  width: auto;
}

footer {
  text-align: center;
  margin-top: 50px;
}

/* Responsive Styling */


@media screen and (max-width: 600px) {
  .intro-text p {
    margin: 0 50px;
  }
  .intro-image img {
    height: 250px;
    width: auto;
  }

  .doodles-section img {
    width: 250px;
    height: auto;
  }

  .thankyou-text {
    font-size: 14px;
    margin-right: 150px;
    margin-left: 150px;
  }

}
